.history-container {

    width: 92%;
    height: 100%;
    margin: 0 auto;
    color: #e0e0e0;
    background-color: rgba(24, 24, 24, 0.01);
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    
    
  }

  .logo>h1{
    padding-left: 120px;
    z-index: 200;
    position: fixed;
    left: 0;
    top: 55%;
    margin: 0;
    display: flex;
    font-weight: 400;
    font-size: 16rem;
  }

