.dashboard-cont{
  position: absolute;
transform: translateX(123px);
 height: 100vh;
  width: 93%;
  z-index: 1;
  border-radius: 50px 0 0 0;

  background: #424242;
  background: linear-gradient(180deg, rgb(16, 16, 16) 0%, rgb(0, 0, 0) 100%);
}
.dashboard-grid {
  position: absolute;
  z-index: 22;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 20px;
    
    max-width: 1200px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
    margin-left: 100px;
    position: absolute;
    margin-top: 0px;
    width: 100%;
    margin-right: 0px;
    padding-left: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 30px;
  }
  
  .grid-item {
    background-color: #000;
    border-radius: 20px;
    padding: 20px;
    color: #e0e0e0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  .subtitle{
    color: rgb(58, 48, 48)  !important;
    font-size:1rem!important;
  }
  
  .item-statistics { 
    margin-top: 20px;
    grid-column: 1 / 2; grid-row: 1 / 2;
    width:410px;
    height: 280px;
    margin-right: 100px;
   }
  .item-qrcode {
    position: absolute;
    top: 20px;
    left: -80px;
     grid-column: 2 / 4; grid-row: 1 / 2; 
    background-color: #000;
    border: #000;
    margin: 40px;
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    }
  .qr-code-container{
    width: 160px;
    height: 160px;
 
    justify-content: center;
    align-self: center;
  }
  .qr-code-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .item-ctr { grid-column: 1 / 2; grid-row: 2 / 3; }
  .item-region { grid-column: 2 / 3; grid-row: 2 / 3; }
  .item-device { grid-column: 3 / 4; grid-row: 2 / 3; }
  
  
  .widget-title  h1 {
    font-size: 2.3rem;
    color: #aaa;
    margin: 0;
    margin-left: 5px;
    font-weight: 500;
  }
  
  .large-value p{
    font-size: 2.6rem;
    font-weight: 600;
    color: #fff;
    position: absolute;
    margin: 0;
    margin-bottom: 4px;
    line-height: 1.1;
    margin-left: 0px;
    margin-top: 20px;
  }
  
  .percentage-change p {
    position: absolute;
    font-size: 0.85rem;
    font-weight: 500;
    margin-top: 60px;
    margin-left: 20px;
  }
  
  .positive-change {
    color: #33cc99;
  }
  
  .negative-change {
    color: #ff6666;
  }
  
  .chart-container {
    width: 50%;
    height: 100px;
    margin-top: auto;
    margin-left: auto;
  }
  
  .main-chart-container {
    width: 100%;
    height: 150px;
    margin-top: 10px;
  }
  
  .item-statistics .large-value {
    font-size: 2.5rem;
  }
  .item-statistics .widget-title {
    margin-bottom: 0;
  }
  .item-statistics .subtitle {
    font-size: 0.8rem;
    color: #888;
    margin-bottom: 8px;
  }
  
  
  .item-qrcode {
    flex-direction: row;
    align-items: flex-start;
    gap: 25px;
    width: 500px;
    height: 210px;
    top: 50px;
  }
  
  .qr-code-container {
    background-color: #ffffff00;
    padding: 8px;
    border-radius: 6px;
    display: inline-block;
    line-height: 0;
  }
  
  .qr-details {
    display: flex;
    flex-direction: column;
   gap: 15px;
    font-size: 0.9rem;
    color: #bbb;
    flex-grow: 1;
    margin-top: 30px;
    justify-content: center;
  }
  
  
  .qr-details .label {
    color: #888;
    margin-right: 5px;
  }
  .qr-details .value {
    color: #e0e0e0;
  }
  
  
  .short-url-section {
   margin-left: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;

    padding: 8px 15px;
    border-radius: 6px;
    font-size: 0.9rem;
  }
  
  .short-url-text {
    color: #ccc;
font-weight: 300;
  }
  
  .short-url-icons {
    display: flex;
    gap: 12px;
  }
  
  .short-url-icons svg {
    color: #aaa;
    cursor: pointer;
    transition: color 0.2s ease;
  }
  
  .short-url-icons svg:hover {
    color: #0000;
  }
  
  .item-region{
    margin-left:-170px ;
  }
  .item-device{
    margin-left: -100px;
  }
  .item-ctr .large-value,
  .item-region .large-value,
  .item-device .large-value {
    font-size: 2rem;
  }
  .widget-title{
    display: block;
    font-size: 1.6rem;
  }
  .item-ctr,.item-device,.item-region{
    margin-top: 60px;
    margin-right: 20px;

    border-radius: 20px;
    width:320px;
    height: 200px;
    position: absolute;
    top:  -180px;
    left: 0;
  }
  .recharts-tooltip-wrapper {
      outline: none;
  }
  .recharts-default-tooltip {
    background-color: rgba(50, 50, 50, 0.85) !important;
    border: 1px solid #444 !important;
    border-radius: 4px !important;
    color: #fff !important;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    font-size: 0.85rem;
    padding: 0 5px;
  }
  .flex1{
    width: fit-content;
    display: flex;
    flex-direction: column;
  }
  .flex2{
    display: flex;
    flex-direction: column;
  } 
  .statlarge{
    width: fit-content;
  }
  .statsmall{
    width: fit-content;
  }

  .intlarge{
    width: fit-content;
    margin: 0;
  }
  .intsmall{
    width: fit-content;
    margin-top: 4px;
  }
  .flex3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .item-statistics{
    gap: 50px;
  }
 .item-statistics  .main-chart-container{
  margin-left: 30px;
  width: 95%;
    
  }

  .gold-logo{
    position: absolute;
   
    top: 50%;
    left: 50%;
    color: rgba(255, 255, 255, 0);
    transform: translate(-50%, -50%);
   
  }