.curve {
  height: 100px;
  width: 100px;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 10px;
  left: 0;
  z-index: 5;
  overflow: hidden; /* Ensure the pseudo-element stays within the parent */
}

.curve::before {
  content: "";
  position: fixed;
  height: 100px;
  width: 100px;
  top:0;
  
  background-color: #0074d900;
  
  height: 100px;
  width: 100px;
  
  border-top-left-radius: 50px;
  box-shadow: 0 -50px 0 0 #000000;}

.history-container {
  width: 92%;
  height: 100%;
  margin: 0 auto;
  color: #e0e0e0;
  background-color: rgba(24, 24, 24, 0.01);
  position: absolute;
  right: 0;
  top: 0;

  overflow: visible;
}
.listcomp{
  height: 100%;
  width: 100%;
  position: absolute;
  
}



