
#navbarcontainer {
  position: fixed;
  margin: 0;
  padding: 0;
  background-color:rgb(0, 0, 0);
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
  z-index: 0;
} 

  
.icons {
  margin-top: 10px;
  margin-left: 10px;
 
  margin-bottom: 20px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;

 gap: 1px;
}

svg {

  overflow: visible;
 display: block;
  border-radius: 50%;
  height: 30px;
  width: 30px;

}

#login, #home, #link, #bar {
  border-radius: 50%;

  height: 30px;
  width: 30px;
 margin: 30px;

}


.cursor {
  position: fixed;
  height: 50px;
  width: 50px;
  background-color: #fff;
  border-radius: 100%;
  margin-left: -22px;
  margin-top: -22px;
  z-index: 1000;
  backdrop-filter: grayscale(1);
  mix-blend-mode: difference;
  pointer-events: none;
  transition: transform 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.cursor.curactive {
  transform: scale(1.5);
}


