@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Lexend:wght@100..900&family=Oswald:wght@200..700&family=Oxygen:wght@300;400;700&family=Playwrite+IT+Moderna:wght@100..400&display=swap");

.dashboard-container {
  width: 100%;
  height: 90%;
  margin: 0 auto;
  color: #e0e0e0;
  background: #424242;
  background: linear-gradient(180deg, rgb(16, 16, 16) 0%, rgb(0, 0, 0) 100%);
  border-radius: 50px 0 0 0;
  position: relative;
  left: 0;
  top: 0;
  padding-bottom: 100px;
  overflow: hidden;
}

.dashboard-container::before {
  content: "";
  position: absolute;
  top: var(--y, 50%);
  left: var(--x, 50%);
  width: 300px;
  height: 300px;
  background: radial-gradient(
    circle ,
    rgba(255, 255, 255, 0.05) 0%,
    rgb(0, 0, 0,0) 50%
  );
  backdrop-filter: blur(1px);
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: 0;
  transition: opacity 0.2s ease;
}

.dashboard-container:hover::before {
  opacity: 1;
}

.childelements {
  transform: scale(1.05);
  margin-top: 3%;
  margin-left: 8%;
}

.title {
  margin-left: 50px;
  margin-top: 20px;
}
.title h1 {
  display: inline-block;
  margin-top: 10px;
  font-size: 3rem;
  font-weight: 350;
  color: #ffffff;
  margin-bottom: 20px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(2, 200px) repeat(1, 1fr);
  gap: 15px;
}

.card {
  background: #424242;
  background: linear-gradient(180deg, rgb(16, 16, 16) 0%, rgb(0, 0, 0) 100%);
  border-radius: 25px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  box-shadow: 2px 2px 100px rgba(255, 255, 255, 0.05),10px 10px 100px rgba(255, 255, 255, 0.05) inset;
  
}

.qr-card {
  background: radial-gradient(
    circle at bottom right,
 rgba(101, 101, 101, 0.5),
 rgba(0, 0, 0, 1) 50%
  );
  margin-left: 40px;
  max-width: 250px;
  height: 50px;
  grid-column: span 2;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  min-height: 120px;
  margin-right: 30px;
}

.qr-link {
  font-size: 0.7rem;
  color: #f1e8e8;
  font-weight: 400;
  margin: 0;
  padding: 0;
  margin-left: 5px;
}

a {
  text-decoration: none;
}

.qr-actions {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  height: 100%;
}

.analytics-link {
  margin-top: 50px;
  font-size: 0.9rem;
  color: #e2e0e0;
  text-decoration: none;
  margin-bottom: 15px;
  font-weight: 500;
}

.analytics-link:hover {
  color: #ffffff;
}

.copy-button {
  background-color: #555555;
  border: none;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0;
}

.copy-button svg {
  overflow: visible;
  width: 16px;
  height: 16px;
  stroke: black;
}

.copy-button:hover {
  background-color: #ffffff;
}

.clicks-card {
  margin-top: 20px;
  height: 120px;
  width: 140px;
  margin-left: 20px;
  overflow: hidden;
  background: #424242;
  background: linear-gradient(180deg, rgb(16, 16, 16) 0%, rgb(0, 0, 0) 100%);
}

.card-label {
  position: relative;
  top: 0;
  left: 0;
  margin-top: 0px;
  font-size: 1rem;
  color: #ebe7e7;
  margin-bottom: 5px;
  font-weight: 600;
}

.card-value {
  font-size: 2.8rem;
  margin: 0;
  font-weight: 600;
  color: #ffffff;
}
.exp{
  width: 200px;
}

.large-value {
  font-size: 6rem;
  font-weight: 700;
  line-height: 1;
 margin: 0;
 margin-top: 20px;
 margin-left: 0px;
}

.ctr-card {
  width: 150px;
  margin-top: 100px;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 140px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 10px;
  background-color: #2a2a2a;
}

.rotated-value {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-size: 4rem;
  font-weight: 600;
  white-space: nowrap;
  color: #ffffff;
  margin: 0;
  line-height: 1;
}

.region-card {
  margin-left: 20px;
  height: 150px;
  width: 140px;
  margin-top: -95px;

  min-height: 80px;
  background-color: #2a2a2a;
}

.ctr {
  margin-top: -100px;
}

.qr-img > img {
  height: 80px;
  width: 80px;
}

.qr-img {
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
}
